body {
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

.caja-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logo {
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}

.texto {
    position: absolute;
    width: 45%;
    height: 45%;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

}

.minusculas {
    position: absolute;
    left: 30%;
    top: 80%
}

.caja-botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;

/* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.desencriptar {
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

/* Light gray */

    background: #D8DFE8;
/* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

/* Inside auto layout */

    flex: none; 
    order: 1; 
    flex-grow: 0

}

.caja-muñeco {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muñeco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 150px;
    top: 283px;
}

.no-encontrado {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ingrese-texto {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.copyright {
    position: absolute;
    top: 98%;
    left: 50%;
    
}